@inherits LayoutComponentBase

<PageTitle>CrownFormatter</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-2">
            <h6>Made with hate</h6>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
